final_with_DL/data_5_percent.csv
final_with_DL/data_10_percent.csv
final_with_DL/data_15_percent.csv
final_with_DL/data_20_percent.csv
final_with_DL/data_full_with_features.csv
final_with_DL/data_ready_v1.csv
final_with_DL/data_ready_v3.csv
final_with_DL/clusterized_df.csv
final_with_DL/output/embedded_sample_texts.csv
